<div class="new-hires-container">
  <div class="header">
    <h2>New Hires</h2>
    <button
      class="add-new-hire"
      (click)="isEditDetailsClicked = true; openModal(null, true)"
    >
      + Add new hire
    </button>
  </div>
  <table class="new-hires-table">
    <thead>
      <tr>
        <th></th>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Date of Joining</th>
        <th>Tasks assigned</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let employee of employees">
        <tr>
          <td>
            <button
              class="expand-button"
              (click)="employee.expanded = !employee.expanded"
            >
              <i
                class="fas"
                [ngClass]="{
                  'fa-chevron-down': employee.expanded,
                  'fa-chevron-right': !employee.expanded
                }"
              ></i>
            </button>
          </td>
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.dateOfJoining }}</td>
          <td>{{ employee.tasksAssigned }}</td>
          <td>
            <div class="status-bar">
              <div
                class="status-progress"
                [style.width]="
                  (employee.status.completed / employee.status.total) * 100 +
                  '%'
                "
              ></div>
              <span
                >{{ employee.status.completed }}/{{
                  employee.status.total
                }}</span
              >
            </div>
          </td>
          <td>
            <button
              class="action-button"
              (click)="isEditDetailsClicked = true; openModal(employee)"
            >
              Edit details
            </button>
            <button class="action-button" (click)="copyToClipboard(employee)">Invite link</button>
          </td>
        </tr>
        <tr *ngIf="employee.expanded">
          <td colspan="7">
            <app-task-dashboard [employeeId]="employee.id" />
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <app-modal [isOpen]="isModalOpen" (closeModal)="closeModal()">
    <ng-container *ngIf="isEditDetailsClicked; else viewTask">
      <app-edit-details
        *ngIf="selectedEmployee"
        [employee]="selectedEmployee"
        [addNewHire]="addNewHire"
        (onClose)="closeModal()"
      ></app-edit-details>
    </ng-container>
    <ng-template #viewTask>
      <app-task></app-task>
    </ng-template>
  </app-modal>
</div>
